* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;

}

@font-face {
	font-family: Arsenal-Bold;
	src: url(../fonts/Arsenal-Bold.ttf);
} 

@font-face {
	font-family: Arsenal-Regular;
	src: url(../fonts/Arsenal-Regular.ttf);
}

body{
    background-color: rgb(245, 251, 255);
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}


main, nav{
  margin: calc((50vh / 25) * 1.563);
}

h1{ 
    margin: 18px;
}

h2{
    margin-left: 35px;
}

h1{
 font-family: Arsenal-Bold;
 font-size: 60px;
 letter-spacing: -0.2rem;
}

h1 span{
 display: inline-block;
 transform: scaleX(-1) translateX(-0.2rem);
 letter-spacing: -0.2rem;
 color: rgb(209, 21, 21);
}

h3,h2,a,p,li, dt, dd, button, ol, ul{
    font-family: Arsenal-Regular;
    color: rgb(22, 22, 23);
}

h2{
    font-size: 36px;
}

p, a, li, dt, dd{
    font-size: 18px;
}

header{
    margin: 18px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav div{
    font-size: 18px;
}

nav li{
   margin-left: 10px;
}

nav a:hover, .product_item a:hover, .breadcrumbs a:hover{
    text-decoration: underline;
}

.category_list_container, .product_item{
    margin: 18px;
    margin-bottom: 50px;
 
}

.category_list_container{
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.grid-3-2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1em;
}

.category_a{
    background-color: rgb(166, 172, 179);
    padding: 30px;
    margin: 18px;
    border: solid 1.5px rgb(99, 107, 116);
    border-radius: 15px;
 
}

.category_a:hover{
    background-color: rgb(101, 107, 117);
    transform: scale(1.05);
    transition: 50ms;
    color: aliceblue;
}

.filterbtn{
 background-color: rgb(23, 25, 41);
 color: aliceblue;
 padding: 15px;
 border: 0.9px solid rgb(23, 25, 41);
 cursor: pointer;
 border-radius: 30px;
 font-size: 16px;
 width: 150px;
 margin-bottom: 10px;
 margin-top: 10px;
}

.filterbtn:hover{
 background-color: aliceblue;
 border: 0.9px solid rgb(23, 25, 41);
 color: rgb(23, 25, 41);
 transition: 50ms;
}

#filters, #sorting{
    margin-left: 35px;
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product_item img{
    width: 300px;
    border: solid 1.5px rgba(50, 53, 57, 0.263);
}

.product_item {
  flex: 1 1 200px;
  max-width: 300px;
}

.product_item a, .breadcrumbs a{
    text-decoration: 2px underline rgba(52, 52, 52, 0.219);
}

.sold-out::before{
  content: "SOLD OUT";
  position: absolute;
  background: rgb(169, 6, 6);
  color: white;
  padding: 1rem;
  font-family: Arsenal-Regular;
}

.sale p:last-child{
 color: red;
}
.sale{
 display: flex;
 justify-content: space-between;
}

.discount{
    font-style: italic;
}


.category{
    color: rgba(51, 53, 66, 0.568);
}

.breadcrumbs{
    margin: 18px;
    margin-left: 38px;
    display: flex;
}


.grid-2-4{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1em;
}

.grid-2-4 img{
    border: solid 1.5px rgba(50, 53, 57, 0.263);
}


.flex-col{
    display: flex;
    flex-direction: column;

}

.flex-col div{
    margin-bottom: 20px;

}

dl dt{
    font-style: italic;
}
dl dd{
    margin-left: 10px;
}

.flex-col div:last-child{
    background-color: rgba(114, 122, 139, 0.384);
    width: 300px;
    padding: 40px;

}

.basket{
    margin-top: 15px;
    padding: 20px;
    font-family: Arsenal-Regular;
    font-size: 18px;
    
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(166, 172, 189, 0.356);
    padding: 15px;
}

footer a{
    margin-left: 10px;
}

footer a:hover{
    text-decoration: underline;
}
